body {
font-family: "Montserrat";
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Ubuntu";
}
h1, .bname{
font-weight: bold;
}
.navbar{
z-index:1;
}
.logo {
height:2.7rem;
width:2.7rem;
}
.bname {
padding:0rem 0rem 0rem 1rem;
font-size:2rem;
font-family: "Montserrat";
}

.imgbox{
background-color:#cce0ff;
position:relative;
/* top:2.5rem; */
text-align:center;
}
.carimg{
height:18rem;
width:67rem;
border-radius:1rem;
filter: drop-shadow(0 0 10px #000000);
/* margin-top:2rem; */
}
.dropdown-menu {
    background-color: #333333;

}

.dropdown-menu li > a {
    color: #FFF;
    padding: 6px 20px;
    transition: padding .5s ease-in-out
}
.dropdown-menu li > a:hover {
   background-color: #31b0d5;
   color: #FFF;
   padding-left: 25px;
}
.carousel-indicators li{
  height:12px;
  width:12px;
  opacity:0.6;
  background:transparent;
  border:1.5px solid white;
  border-radius: 50%;
}
.carousel-indicators .active{
  background: white;
}
@media (max-width:1000px)and (min-width:430px){
.carimg{
height:19rem;
width:43rem;
}
/* .imgbox{
height:37rem;
} */
}
@media (max-width:430px){
.bname{
    padding:0px;
    font-weight:400px;
    font-size:19px;
}
.logo{
  height:1.4rem;
  width:1.4rem;
}
.carimg{
    height:15rem;
    width:16rem;
}
.imgbox{
height:25.8rem;
}
.cardet{
 font-size:1.4rem;
}
}

.updates{
position:relative;
/* top:5rem; */
background-color:#3e69ab;
}
.alumni-box{
height:23rem;
margin:1rem 2rem 1rem 15rem;
}
.create-update{
height:20rem;
margin:1rem 1rem 1rem 14rem;
}
.update-box{
height:28rem;
margin:1rem 14rem 1rem 1rem;
}
.card:hover{
box-shadow: 10px 10px 11px rgba(33,33,33,1);
}
.cheader{
background-color:#ffd9b3;
}
.aluimg{
height:50%;
width:50%;
margin-top:3%;
margin-left:25%;
border-radius:50%;
}

@media (max-width:1200px)and (min-width:991px){
.alumni-box, .create-update{
  margin:1rem 1rem 1rem 7rem;
}
.update-box{
margin:1rem 7rem 1rem 1rem ;
}
}
@media (max-width:991px)and (min-width:767px){
.update-box, .alumni-box, .create-update{
  margin:1rem 27% 1rem 27%;
}
}
@media (max-width:767px) and (min-width:520px){
.update-box, .alumni-box, .create-update{
  margin:1rem 19% 1rem 19%;
}
}
@media (max-width:520px){
.update-box, .alumni-box, .create-update{
  margin:1rem 1.5% 1rem 1.5%;
}
}

.bottom{
position:relative;
top:7.5rem;
height:50%;
width:100%;
}
