<% include partials/header %>

    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Search ALUMNI</h1>
            <div style="width: 30%; margin: 30px auto;">
                <form action="/search" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="name" placeholder="name">
                    </div>

                    <div class="form-group">
                        <label for="state">College Name *</label><br>
                        <select class="form-control" id="sel" name="college" onchange="selectText(this)">
                            <option value="">-- Select College --</option>
                            <option value="NIT GOA">NIT GOA</option>
                            <option value="IIT GOA">IIT GOA</option>
                            <option value="GOA COLLEGE OF ENGINEERING">GOA COLLEGE OF ENGINEERING</option>
                            <option value="GOA UNIVERSITY">GOA UNIVERSITY</option>
                        </select>
                        <p id='msg'>
                        </p>
                        </select>
                    </div><br>

                    <div class="form-group">
                        <input class="form-control" type="text" name="branch" placeholder="branch">
                    </div>


                    <div class="form-group">
                        <input class="form-control" type="text" name="batch" placeholder="batch">
                    </div>


                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>


                </form>
                <a href="/alumni">Go Back</a>
            </div>

        </div>
    </div>
    <% include partials/footer %>